<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aisy.b2c.dao.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.aisy.b2c.pojo.Category">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="category_id" jdbcType="SMALLINT" property="categoryId" />
    <result column="p_category_id" jdbcType="SMALLINT" property="pCategoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="category_level" jdbcType="BIT" property="categoryLevel" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="sort_index" jdbcType="SMALLINT" property="sortIndex" />
    <result column="cu" jdbcType="SMALLINT" property="cu" />
    <result column="ct" jdbcType="TIMESTAMP" property="ct" />
    <result column="uu" jdbcType="SMALLINT" property="uu" />
    <result column="ut" jdbcType="TIMESTAMP" property="ut" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    category_id, p_category_id, category_name, category_level, status, sort_index, cu, 
    ct, uu, ut
  </sql>
</mapper>