<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aisy.b2c.dao.SOrderHeaderItemClientEmnuMapper">
  <resultMap id="BaseResultMap" type="com.aisy.b2c.pojo.VOrderHeaderItemClientEmnu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="order_id" jdbcType="SMALLINT" property="orderId" />
    <result column="order_status" jdbcType="VARCHAR" property="orderStatus" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="client_id" jdbcType="SMALLINT" property="clientId" />
    <result column="client_log" jdbcType="VARCHAR" property="clientLog" />
    <result column="pay_channel" jdbcType="VARCHAR" property="payChannel" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="pay_order_id" jdbcType="VARCHAR" property="payOrderId" />
    <result column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="logistics_type" jdbcType="VARCHAR" property="logisticsType" />
    <result column="logistics_amount" jdbcType="DECIMAL" property="logisticsAmount" />
    <result column="product_num" jdbcType="SMALLINT" property="productNum" />
    <result column="product_amount" jdbcType="DECIMAL" property="productAmount" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="settlement_time" jdbcType="TIMESTAMP" property="settlementTime" />
    <result column="invoice_type" jdbcType="VARCHAR" property="invoiceType" />
    <result column="invoice_id" jdbcType="SMALLINT" property="invoiceId" />
    <result column="flag" jdbcType="SMALLINT" property="flag" />
    <result column="invoice_amount" jdbcType="DECIMAL" property="invoiceAmount" />
    <result column="promotion_amount" jdbcType="DECIMAL" property="promotionAmount" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="product_show_price" jdbcType="DECIMAL" property="productShowPrice" />
    <result column="sku_price" jdbcType="DECIMAL" property="skuPrice" />
    <result column="sub_total" jdbcType="DECIMAL" property="subTotal" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="sku_collecton" jdbcType="VARCHAR" property="skuCollection" />
    <result column="client_name" jdbcType="VARCHAR" property="clientName" />
    <result column="cu" jdbcType="SMALLINT" property="cu" />
    <result column="ct" jdbcType="TIMESTAMP" property="ct" />
    <result column="uu" jdbcType="SMALLINT" property="uu" />
    <result column="ut" jdbcType="TIMESTAMP" property="ut" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    order_id, order_status, amount, client_id, client_log, pay_channel, pay_time, pay_order_id, 
    order_time, address, logistics_type, logistics_amount, product_num, product_amount, 
    send_time, settlement_time, invoice_type, invoice_id, invoice_amount, promotion_amount, flag,
    cu, ct, uu, ut
  </sql>
  
  <sql id="OrderByStatusAllCol">
  	h.order_id as orderId,
	h.client_id as clientId,
	h.order_time as orderTime,
	h.order_status as orderStatus,
	h.address as address,
	h.pay_channel as payChannel,
	h.pay_order_id as payOrderId,
	h.pay_time as payTime,
	h.logistics_type as logisticsType,
	h.logistics_amount as logisticsAmount,
	h.send_time as sendTime,
	h.settlement_time as settlementTime,
	h.flag as flag,
	i.product_name as productName,
	i.product_show_price as productShowPrice,
	i.sku_price as skuPrice,
	i.sub_total as subTotal,
	i.number as number,
	i.sku_collection as skuCollection,
	c.client_name as clientName
  </sql>
  <sql id="selectOrderByStatusAllCol">
    SELECT
  		<include refid="OrderByStatusAllCol"></include>
  	FROM order_item as i
  	LEFT JOIN order_header as h
  	ON h.order_id = i.order_id
  	LEFT JOIN client as c
  	ON h.client_id = c.client_id
  	WHERE 1 = 1
  	AND
  	flag = 1
  </sql>
  <sql id="selectOrderByStatusAllCon">
     <if test="timeMin != null and timeMin != ''" >
     	AND
		payTime &gt;= ${timeMin}
	 </if>
	 
     <if test="timeMax != null and timeMax != ''" >
     	AND
     	payTime &lt;= ${timeMax}
     </if>
	 
	 <if test="amountMin != null and amountMin != ''" >
	 	AND
		subTotal &gt;= ${amountMin}
	 </if>
	 
	 <if test="amountMax != null and amountMax != ''" >
	 	AND
		subTotal &lt;= ${amountMax}
	 </if>
	 
	 <if test="orderStatus != null and orderStatus != ''" >
	 	AND
		orderStatus = #{orderStatus}
	 </if>
	 
	 <if test="logisiticsType != null and logisiticsType != ''" >
	 	AND
		logisiticsType = #{logisiticsType}
	 </if>
	 
	 <if test="clientName != null and clientName != ''" >
	 	AND
		clientName LIKE CONCAT('%',#{clientName},'%')
	 </if>
	 
	 <if test="clientId != null and clientId != ''" >
	 	AND
		clientId LIKE CONCAT('%',#{clientId},'%')
	 </if>
	 
	 <if test="orderId != null and orderId != ''" >
	 	AND
		orderId LIKE CONCAT('%',#{orderId},'%')
	 </if>
	 
	 <if test="address != null and address != ''" >
	 	AND
		address LIKE CONCAT('%',#{address},'%')
	 </if>
	 
  </sql>
  <sql id="selectOrderCon">
  	 ORDER BY payTime desc
	 <if test="page != null and page != '' and limit != null and limit != ''" >
		LIMIT ${page*5}, 5
	 </if>
  </sql>
  <sql id="selectCountStart">
  	COUNT(
  </sql>
  <sql id="selectCountEnd">
  	)
  </sql>
  <select id="selectCountOrderByStatusAll" parameterType="Map" resultType="java.lang.Integer">
  SELECT
  	 <include refid="selectCountStart"></include>*<include refid="selectCountEnd"></include>
  	 <include refid="selectOrderByStatusAllCon"></include> 	  	 
	 ;
  </select>
  <select id="selectOrderByStatusAll" parameterType="Map" resultMap="BaseResultMap">
  	 <include refid="selectOrderByStatusAllCol"></include>
  	 <include refid="selectOrderByStatusAllCon"></include> 
  	 <include refid="selectOrderCon"></include> 	 
	 ;
  </select>
  <select id="selectCountOrderByStatusPay" parameterType="Map" resultType="java.lang.Integer">
  SELECT
  	 <include refid="selectCountStart"></include>*<include refid="selectCountEnd"></include>
  	 orderStatus = "TO_BE_PAID"
  	 <include refid="selectOrderByStatusAllCon"></include> 	
  	 <include refid="selectOrderCon"></include>  
	 ;
  </select>
  <select id="selectOrderByStatusPay" parameterType="Map" resultMap="BaseResultMap">
  	 <include refid="selectOrderByStatusAllCol"></include>
	 orderStatus = "TO_BE_PAID"
  	 <include refid="selectOrderByStatusAllCon"></include>
  	 <include refid="selectOrderCon"></include> 
	 ;
  </select>
  <select id="selectCountOrderByStatusGo" parameterType="Map" resultType="java.lang.Integer">
  SELECT
  	 <include refid="selectCountStart"></include>*<include refid="selectCountEnd"></include>
  	 order_status = "PAID"
  	 <include refid="selectOrderByStatusAllCon"></include> 
  	 <include refid="selectOrderCon"></include> 	 
	 ;
  </select>
  <select id="selectOrderByStatusGo" parameterType="Map" resultMap="BaseResultMap">
  	 <include refid="selectOrderByStatusAllCol"></include>
	 order_status = "PAID"
  	 <include refid="selectOrderByStatusAllCon"></include>
  	 <include refid="selectOrderCon"></include> 
	 ;
  </select>
  <select id="selectCountOrderByStatusOk" parameterType="Map" resultType="java.lang.Integer">
  SELECT
  	 <include refid="selectCountStart"></include>*<include refid="selectCountEnd"></include>
  	 order_status = "SEND"
  	 <include refid="selectOrderByStatusAllCon"></include> 
  	 <include refid="selectOrderCon"></include> 	 
	 ;
  </select>
  <select id="selectOrderByStatusOk" parameterType="Map" resultMap="BaseResultMap">
  	 <include refid="selectOrderByStatusAllCol"></include>
	 order_status = "SEND"
  	 <include refid="selectOrderByStatusAllCon"></include>
  	 <include refid="selectOrderCon"></include> 
	 ;
  </select>
  <select id="selectCountOrderByStatusEvaluation" parameterType="Map" resultType="java.lang.Integer">
  SELECT
  	 <include refid="selectCountStart"></include>*<include refid="selectCountEnd"></include>
  	 order_status = "TAKED"
  	 <include refid="selectOrderByStatusAllCon"></include>
  	 <include refid="selectOrderCon"></include>  	 
	 ;
  </select>
  <select id="selectOrderByStatusEvaluation" parameterType="Map" resultMap="BaseResultMap">
  	 <include refid="selectOrderByStatusAllCol"></include>
	 order_status = "TAKED"
  	 <include refid="selectOrderByStatusAllCon"></include>
  	 <include refid="selectOrderCon"></include> 
	 ;
  </select>
</mapper>